TimetablingClient/xml-resources/web-service-references/timetabling/wsdl/localhost_8080/timetabling/timetabling.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://timetableWebServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://timetableWebServices/" name="timetabling">
<types>
<xsd:schema>
<xsd:import namespace="http://xml.netbeans.org/schema/timeTable" schemaLocation="http://localhost:8080/timetabling/timetabling?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://timetableWebServices/" schemaLocation="http://localhost:8080/timetabling/timetabling?xsd=2"/>
</xsd:schema>
</types>
<message name="Null">
<part name="parameters" element="tns:Null"/>
</message>
<message name="NullResponse">
<part name="parameters" element="tns:NullResponse"/>
</message>
<message name="getModules">
<part name="parameters" element="tns:getModules"/>
</message>
<message name="getModulesResponse">
<part name="parameters" element="tns:getModulesResponse"/>
</message>
<message name="NullStaff">
<part name="parameters" element="tns:NullStaff"/>
</message>
<message name="NullStaffResponse">
<part name="parameters" element="tns:NullStaffResponse"/>
</message>
<message name="getStaffLoginInfo">
<part name="parameters" element="tns:getStaffLoginInfo"/>
</message>
<message name="getStaffLoginInfoResponse">
<part name="parameters" element="tns:getStaffLoginInfoResponse"/>
</message>
<message name="getAllEvents">
<part name="parameters" element="tns:getAllEvents"/>
</message>
<message name="getAllEventsResponse">
<part name="parameters" element="tns:getAllEventsResponse"/>
</message>
<message name="checkSeed">
<part name="parameters" element="tns:checkSeed"/>
</message>
<message name="checkSeedResponse">
<part name="parameters" element="tns:checkSeedResponse"/>
</message>
<message name="getRequests">
<part name="parameters" element="tns:getRequests"/>
</message>
<message name="getRequestsResponse">
<part name="parameters" element="tns:getRequestsResponse"/>
</message>
<message name="getMyEvents">
<part name="parameters" element="tns:getMyEvents"/>
</message>
<message name="getMyEventsResponse">
<part name="parameters" element="tns:getMyEventsResponse"/>
</message>
<message name="getSentRequests">
<part name="parameters" element="tns:getSentRequests"/>
</message>
<message name="getSentRequestsResponse">
<part name="parameters" element="tns:getSentRequestsResponse"/>
</message>
<message name="respondToRequest">
<part name="parameters" element="tns:respondToRequest"/>
</message>
<message name="respondToRequestResponse">
<part name="parameters" element="tns:respondToRequestResponse"/>
</message>
<message name="sendRequest">
<part name="parameters" element="tns:sendRequest"/>
</message>
<message name="sendRequestResponse">
<part name="parameters" element="tns:sendRequestResponse"/>
</message>
<message name="getCourseIds">
<part name="parameters" element="tns:getCourseIds"/>
</message>
<message name="getCourseIdsResponse">
<part name="parameters" element="tns:getCourseIdsResponse"/>
</message>
<message name="getRooms">
<part name="parameters" element="tns:getRooms"/>
</message>
<message name="getRoomsResponse">
<part name="parameters" element="tns:getRoomsResponse"/>
</message>
<message name="getStudent">
<part name="parameters" element="tns:getStudent"/>
</message>
<message name="getStudentResponse">
<part name="parameters" element="tns:getStudentResponse"/>
</message>
<message name="modifyEvents">
<part name="parameters" element="tns:modifyEvents"/>
</message>
<message name="modifyEventsResponse">
<part name="parameters" element="tns:modifyEventsResponse"/>
</message>
<message name="updateSeed">
<part name="parameters" element="tns:updateSeed"/>
</message>
<message name="updateSeedResponse">
<part name="parameters" element="tns:updateSeedResponse"/>
</message>
<message name="removeEvents">
<part name="parameters" element="tns:removeEvents"/>
</message>
<message name="removeEventsResponse">
<part name="parameters" element="tns:removeEventsResponse"/>
</message>
<message name="addEvents">
<part name="parameters" element="tns:addEvents"/>
</message>
<message name="addEventsResponse">
<part name="parameters" element="tns:addEventsResponse"/>
</message>
<message name="getFacultyMembersInfo">
<part name="parameters" element="tns:getFacultyMembersInfo"/>
</message>
<message name="getFacultyMembersInfoResponse">
<part name="parameters" element="tns:getFacultyMembersInfoResponse"/>
</message>
<message name="getFacultyMembers">
<part name="parameters" element="tns:getFacultyMembers"/>
</message>
<message name="getFacultyMembersResponse">
<part name="parameters" element="tns:getFacultyMembersResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="getGroups">
<part name="parameters" element="tns:getGroups"/>
</message>
<message name="getGroupsResponse">
<part name="parameters" element="tns:getGroupsResponse"/>
</message>
<portType name="timetabling">
<operation name="Null">
<input wsam:Action="http://timetableWebServices/timetabling/NullRequest" message="tns:Null"/>
<output wsam:Action="http://timetableWebServices/timetabling/NullResponse" message="tns:NullResponse"/>
</operation>
<operation name="getModules">
<input wsam:Action="http://timetableWebServices/timetabling/getModulesRequest" message="tns:getModules"/>
<output wsam:Action="http://timetableWebServices/timetabling/getModulesResponse" message="tns:getModulesResponse"/>
</operation>
<operation name="NullStaff">
<input wsam:Action="http://timetableWebServices/timetabling/NullStaffRequest" message="tns:NullStaff"/>
<output wsam:Action="http://timetableWebServices/timetabling/NullStaffResponse" message="tns:NullStaffResponse"/>
</operation>
<operation name="getStaffLoginInfo">
<input wsam:Action="http://timetableWebServices/timetabling/getStaffLoginInfoRequest" message="tns:getStaffLoginInfo"/>
<output wsam:Action="http://timetableWebServices/timetabling/getStaffLoginInfoResponse" message="tns:getStaffLoginInfoResponse"/>
</operation>
<operation name="getAllEvents">
<input wsam:Action="http://timetableWebServices/timetabling/getAllEventsRequest" message="tns:getAllEvents"/>
<output wsam:Action="http://timetableWebServices/timetabling/getAllEventsResponse" message="tns:getAllEventsResponse"/>
</operation>
<operation name="checkSeed">
<input wsam:Action="http://timetableWebServices/timetabling/checkSeedRequest" message="tns:checkSeed"/>
<output wsam:Action="http://timetableWebServices/timetabling/checkSeedResponse" message="tns:checkSeedResponse"/>
</operation>
<operation name="getRequests">
<input wsam:Action="http://timetableWebServices/timetabling/getRequestsRequest" message="tns:getRequests"/>
<output wsam:Action="http://timetableWebServices/timetabling/getRequestsResponse" message="tns:getRequestsResponse"/>
</operation>
<operation name="getMyEvents">
<input wsam:Action="http://timetableWebServices/timetabling/getMyEventsRequest" message="tns:getMyEvents"/>
<output wsam:Action="http://timetableWebServices/timetabling/getMyEventsResponse" message="tns:getMyEventsResponse"/>
</operation>
<operation name="getSentRequests">
<input wsam:Action="http://timetableWebServices/timetabling/getSentRequestsRequest" message="tns:getSentRequests"/>
<output wsam:Action="http://timetableWebServices/timetabling/getSentRequestsResponse" message="tns:getSentRequestsResponse"/>
</operation>
<operation name="respondToRequest">
<input wsam:Action="http://timetableWebServices/timetabling/respondToRequestRequest" message="tns:respondToRequest"/>
<output wsam:Action="http://timetableWebServices/timetabling/respondToRequestResponse" message="tns:respondToRequestResponse"/>
</operation>
<operation name="sendRequest">
<input wsam:Action="http://timetableWebServices/timetabling/sendRequestRequest" message="tns:sendRequest"/>
<output wsam:Action="http://timetableWebServices/timetabling/sendRequestResponse" message="tns:sendRequestResponse"/>
</operation>
<operation name="getCourseIds">
<input wsam:Action="http://timetableWebServices/timetabling/getCourseIdsRequest" message="tns:getCourseIds"/>
<output wsam:Action="http://timetableWebServices/timetabling/getCourseIdsResponse" message="tns:getCourseIdsResponse"/>
</operation>
<operation name="getRooms">
<input wsam:Action="http://timetableWebServices/timetabling/getRoomsRequest" message="tns:getRooms"/>
<output wsam:Action="http://timetableWebServices/timetabling/getRoomsResponse" message="tns:getRoomsResponse"/>
</operation>
<operation name="getStudent">
<input wsam:Action="http://timetableWebServices/timetabling/getStudentRequest" message="tns:getStudent"/>
<output wsam:Action="http://timetableWebServices/timetabling/getStudentResponse" message="tns:getStudentResponse"/>
</operation>
<operation name="modifyEvents">
<input wsam:Action="http://timetableWebServices/timetabling/modifyEventsRequest" message="tns:modifyEvents"/>
<output wsam:Action="http://timetableWebServices/timetabling/modifyEventsResponse" message="tns:modifyEventsResponse"/>
</operation>
<operation name="updateSeed">
<input wsam:Action="http://timetableWebServices/timetabling/updateSeedRequest" message="tns:updateSeed"/>
<output wsam:Action="http://timetableWebServices/timetabling/updateSeedResponse" message="tns:updateSeedResponse"/>
</operation>
<operation name="removeEvents">
<input wsam:Action="http://timetableWebServices/timetabling/removeEventsRequest" message="tns:removeEvents"/>
<output wsam:Action="http://timetableWebServices/timetabling/removeEventsResponse" message="tns:removeEventsResponse"/>
</operation>
<operation name="addEvents">
<input wsam:Action="http://timetableWebServices/timetabling/addEventsRequest" message="tns:addEvents"/>
<output wsam:Action="http://timetableWebServices/timetabling/addEventsResponse" message="tns:addEventsResponse"/>
</operation>
<operation name="getFacultyMembersInfo">
<input wsam:Action="http://timetableWebServices/timetabling/getFacultyMembersInfoRequest" message="tns:getFacultyMembersInfo"/>
<output wsam:Action="http://timetableWebServices/timetabling/getFacultyMembersInfoResponse" message="tns:getFacultyMembersInfoResponse"/>
</operation>
<operation name="getFacultyMembers">
<input wsam:Action="http://timetableWebServices/timetabling/getFacultyMembersRequest" message="tns:getFacultyMembers"/>
<output wsam:Action="http://timetableWebServices/timetabling/getFacultyMembersResponse" message="tns:getFacultyMembersResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://timetableWebServices/timetabling/loginRequest" message="tns:login"/>
<output wsam:Action="http://timetableWebServices/timetabling/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="getGroups">
<input wsam:Action="http://timetableWebServices/timetabling/getGroupsRequest" message="tns:getGroups"/>
<output wsam:Action="http://timetableWebServices/timetabling/getGroupsResponse" message="tns:getGroupsResponse"/>
</operation>
</portType>
<binding name="timetablingPortBinding" type="tns:timetabling">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Null">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getModules">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="NullStaff">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStaffLoginInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllEvents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkSeed">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRequests">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMyEvents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSentRequests">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="respondToRequest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sendRequest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCourseIds">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRooms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modifyEvents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateSeed">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeEvents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addEvents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFacultyMembersInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFacultyMembers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGroups">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="timetabling">
<port name="timetablingPort" binding="tns:timetablingPortBinding">
<soap:address location="http://localhost:8080/timetabling/timetabling"/>
</port>
</service>
</definitions>